body {
  background-color: #fffbf7;
}

.principal {
  color: #8b8b8bcc;
  text-align: center;
}

h4 {
  color: #46484c;
}

button {
  color: #fff;
  background-color: #025157;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
}